<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Banner list</h2>
        <div>
            <a href="/admin_panel/banner/add_banner" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <% const dataToReadable=(date)=>{

            const date_=new Date(date);
            let dd=date_.getDate()
            let mm=date_.getMonth()
            let yyyy=date_.getFullYear()
          
            return `${isNaN(dd)?'00':dd}.${isNaN(dd)?'00':dd}.${isNaN(yyyy)?'0000':yyyy}`
          
            } %>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Banner</th>
                            <th>Title</th>
                            <th>Discription</th>
                            <th>Category</th>
                            <th class="text-center"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <%console.log("fahizihi",banners); %>
                        <% banners?.forEach((element,index) => { %>
                            
                        
                        <tr>
                            <td width="40%">
                                <a href="#" class="itemside">
                                    <div class="left">
                                        
                                        <img src="/bannerImages/<%= element._id %>.jpg " class="img-sm img-thumbnail" alt="Item">
                                    </div>
                                   
                                </a>
                            </td>
                            <td><%= element.mainBannerTitle %></td>
                            <td><%= element.mainBannerDescription %> </td>
                            <td><%= element.mainBannerCategory %></td>
                        

                      
                            <td class="text-center">
                                <% if(element.checked){ %>
                                    <a href="/admin_panel/banner/disable/<%= element._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                        Disable
                                    </a>
                                    <% }else{ %>
                                    <a href="/admin_panel/banner/enable/<%= element._id %> " class="btn btn-sm font-sm btn-light rounded">
                                        </i> Enable
                                    </a>
                                    <%   } %> 
                               
                            </td>
                        </tr>
                  <%  }); %> 
                    </tbody>
                </table> <!-- table-responsive.// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->

</section> <!-- content-main end// -->