<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Users list</h2>
        <div>
            <a href="/admin_panel/copoun/add_coupon" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <% const dataToReadable=(date)=>{

            const date_=new Date(date);
            let dd=date_.getDate()
            let mm=date_.getMonth()
            let yyyy=date_.getFullYear()
          
            return `${isNaN(dd)?'00':dd}.${isNaN(dd)?'00':dd}.${isNaN(yyyy)?'0000':yyyy}`
          
            } %>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>coupon</th>
                            <th>discountType</th>
                            <th>Max Discount</th>
                            <th>usageValidity</th>
                            <th>validityTill</th>
                            <th > Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% couponData?.forEach((element,index) => { %>
                       
                        
                        <tr>
                            <td><%= element.coupon %> </td>
                            <td><%= element.discountType %></td>
                            <% if (element.amount==0) { %>
                                <td><%= element.cappedAmount %></td>
                           <% } else { %>
                                <td><%= element.amount %></td>  
                          <% } %>
                            
                            <td><%= element.usageValidity %></td>
                            <td><%=dataToReadable(element?.validityTill)%> </td>
                            <td>
                                <span class="btn btn-sm font-sm btn-light rounded"
                                onclick="deletecoupon('<%= element._id %> ')">
                                <i class="material-icons md-delete_forever"></i> Delete
                            </span>
                            </td>
                            
                        </tr>
                  <%  }); %> 
                    </tbody>
                </table> <!-- table-responsive.// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
               
                <!-- <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                // <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li> -->
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->

<script>

    function deletecoupon(copId) {
        Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
            url:'/admin_panel/coupon/delete_coupon/'+copId,
            method:'DELETE',
            success:(response)=>{
                if (response.status) {
                    location.href='/admin_panel/copoun'
                }
            }

        })
        Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        )
      }
    })
    }
    </script>