<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: 3453012</p>
        </div>
    </div>
    <% data.forEach(element => { %>
        
    <div class="card" style="margin-bottom: 50px;">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b>
                    </span> <br>
                    <small class="text-muted">Order ID: 3453012</small>
                </div>
                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    <% if (element.orders.productDetails.status&&element.orders.productDetails.Delivery!='Delivered') { %>
                    <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200" onchange="deliveryStatus(this,'<%= element.orders._id %>','<%= element.orders.productDetails._id  %>')">
                        <option>Change status</option>
                        <option>Awaiting payment</option>
                        <option>Confirmed</option>
                        <option>Shipped</option>
                        <option>Delivered</option>
                    </select>
                    
                        <td ><button class="btn ml-5" style="background-color:rgb(234, 34, 4); border: none; color: #fff;"  onclick="cancelOrder('<%= element.orders.productDetails._id %>','<%=element?.orders._id%>')">Cancel</button></td>
                  <%  }else if(!element.orders.productDetails.status){ %>
                    <td ><button class="btn" style="background-color:rgb(234, 34, 4); border: none; color: #fff;"  disabled>Canceled</button></td>

                <%  } else if(element.orders.productDetails.Delivery=='Product Returned'){ %>
                    <td ><button class="btn" style="background-color:rgb(234, 34, 4); border: none; color: #fff;"  disabled>Returned</button></td>

                <% }else{ %>
                    <td ><button class="btn" style="background-color:rgb(47, 255, 54); border: none; color: #fff;"  disabled>Delivered</button></td>
               <%  } %>
                    
                </div>
            </div>
        </header> <!-- card-header end// -->
        
            
        
        <div class="card-body" >
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%= element.orders.fName  %>  <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> <br> +91<%= element.orders.mobile%> 
                            </p>
                            <a href="#">View profile</a>
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br> Pay method: <%= element.orders.paymentMethod  %>  <br> Status: <%= element.orders.productDetails.Delivery  %>
                            </p>
                            <a href="#">Download info</a>
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                City: <%= element?.orders?.shippingAddress?.address, %> <%= element?.orders?.shippingAddress?.town%>  <br><%= element?.orders?.shippingAddress?.landmark  %> <br> <%= element?.orders?.shippingAddress?.postcode  %>
                            </p>
                            <a href="#">View profile</a>
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="/productImages/<%= element.orders.productDetails._id?._id %>0.jpg" width="40" height="40" class="img-xs" alt="Item">
                                            </div>
                                            <div class="info"> <%= element.orders.productDetails.productName  %>  </div>
                                        </a>
                                    </td>
                                    <td> ₹ <%= element.orders.productDetails.productPrice  %></td>
                                    <td><%= element.orders.productDetails.quantity  %> </td>
                                    <td class="text-end"><%= element.orders.productDetails.productPrice  * element.orders.productDetails.quantity  %>  </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>₹<%= element.orders.productDetails.productPrice  * element.orders.productDetails.quantity  %> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>free</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5"> ₹<%= element.orders.productDetails.productPrice  * element.orders.productDetails.quantity  %></b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <% if (element.orders.paymentStatus=='PAID') { %>
                                                        
                                                        <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                  <%  } else { %>
                                                        <span class="badge rounded-pill alert-warning">Pending</span>
                                                   <% } %> 
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
                <div class="col-lg-1"></div>
            </div>
        </div> <!-- card-body end// -->
        
    </div> <!-- card end// -->
    <% }); %> 
   
</section> <!-- content-main end// -->


<script>

    
function cancelOrder(proId,ordId) {
    console.log("okee");
        Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3cc75c',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, Cancel The Order!'
    }).then((result)=>{
        if (result.isConfirmed) {
            $.ajax({
                url:'/orders',
                data:{
                    proId:proId,
                    orderId:ordId
                },
                method:'post',
                success:(response)=>{
                    if(response.status){
                        location.reload()
                    }
                }
            })

            Swal.fire(
          'Caneled!',
          'Order is Cancelled',
          'success'
        )
        }
    })  
    }


    function deliveryStatus(value,orderId,proId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3cc75c',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, Update Order Status'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
            url:"/admin_panel/updateOrder",
            method:'PUT',
            data:{
                delivery:value.value,
                orderId:orderId,
                proId:proId
            },
          success: (response) => {
            if (response.status) {
              Swal.fire(
                'Updated!',
                'Order Status is Updated',
                'success'
              ).then(()=>{
                 location.reload()
              })
             
            }
          }
        })
      }
    })
  }
</script>