<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
            <a href="/admin_panel/products/add_product" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col col-check flex-grow-0">
                    <div class="form-check ms-2">
                        <input class="form-check-input" type="checkbox" value="">
                    </div>
                </div>
                <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                    <select class="form-select">
                        <option selected>All category</option>
                        <option>Electronics</option>
                        <option>Clothes</option>
                        <option>Automobile</option>
                    </select>
                </div>
                <div class="col-md-2 col-6">
                    <input type="date" value="02.05.2021" class="form-control">
                </div>
                <div class="col-md-2 col-6">
                    <select class="form-select">
                        <option selected>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <% product?.forEach(element=> { %>
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                                <div class="left">
                                    <img src="/productImages/<%= element._id %>0.jpg " class="img-sm img-thumbnail"
                                        alt="Item">
                                </div>
                                <div class="info">
                                    <h6 class="mb-0">
                                        <%= element.name %>
                                    </h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>
                                <%= element.category %>
                            </span> </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>₹<%= element.price %></span> </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>
                                <%= element.quantity %>
                            </span> </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                            <a href="/admin_panel/products/edit_product/<%= element._id %>"
                                class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> Edit
                            </a>
                            <span class="btn btn-sm font-sm btn-light rounded"
                                onclick="confirm('/admin_panel/products/delete_product/<%= element._id %> ')">
                                <i class="material-icons md-delete_forever"></i> Delete
                            </span>
                        </div>
                    </div> <!-- row .// -->
                </article> <!-- itemlist  .// -->

                <% }); %>

        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% for (let i = 1; i <= docCount; i++) { %> 
                    <% if (currentPage==i) { %>
                        <li class="page-item active"><a class="page-link" href="/admin_panel/products?page=<%= i %>&limit=5">0<%= i %> </a></li>
                  <%  } else { %>
                         <li class="page-item "><a class="page-link" href="/admin_panel/products?page=<%= i %>&limit=5">0<%= i %> </a></li>
                   <% } %>            
                <% } %> 
                <!-- <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a> -->
                <!-- </li> -->
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->

<script>
    function confirm(link) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = link;
            }
        })
    }
</script>