<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Users list</h2>
        <div>
            <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
        <% const dataToReadable=(date)=>{

            const date_=new Date(date);
            let dd=date_.getDate()
            let mm=date_.getMonth()
            let yyyy=date_.getFullYear()
          
            return `${isNaN(dd)?'00':dd}.${isNaN(dd)?'00':dd}.${isNaN(yyyy)?'0000':yyyy}`
          
            } %>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>users</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Phone Number</th>
                            <th>Registered</th>
                            <th class="text-center"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users?.forEach((element,index) => { %>
                            
                        
                        <tr>
                            <td width="40%">
                                <a href="#" class="itemside">
                                    <div class="left">
                                        
                                        <img src="/imgs/people/avatar1.jpg" class="img-sm img-avatar" alt="Userpic">
                                    </div>
                                    <div class="info pl-3">
                                        <h6 class="mb-0 title"><%= element?.username %></h6>
                                        <small class="text-muted">User ID:<%= element?._id %></small>
                                    </div>
                                </a>
                            </td>
                            <td><%= element?.email %> </td>
                            <% if(element?.status){ %>

                            <td><span class="badge rounded-pill alert-success">Active</span></td>

                            <% }else{ %>
                            <td><span class="badge rounded-pill alert-danger">Block</span></td>
                             <%   } %> 

                            <td><%= element?.phoneNumber %></td>
                            <td><%=dataToReadable(element?.createdAt)%> </td>
                            <td class="text-end">
                                <% if(!element?.status){ %>
                                    <a href="/admin_panel/users/Unblock_user/<%= element?._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                         Unblock
                                    </a>
                                    <% }else{ %>
                                    <a href="/admin_panel/users/block_user/<%= element?._id %> " class="btn btn-sm font-sm btn-light rounded">
                                        </i> Block
                                    </a>
                                    <%   } %> 
                               
                            </td>
                        </tr>
                  <%  }); %> 
                    </tbody>
                </table> <!-- table-responsive.// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% for (let i = 1; i <= docCount; i++) { %> 
                    <% if (currentPage==i) { %>
                        <li class="page-item active"><a class="page-link" href="/admin_panel/users?page=<%= i %>&limit=2">0<%= i %> </a></li>
                  <%  } else { %>
                         <li class="page-item "><a class="page-link" href="/admin_panel/users?page=<%= i %>&limit=2">0<%= i %> </a></li>
                   <% } %>            
                <% } %> 
                <!-- <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li> -->
            </ul>
        </nav>
    </div>
</section> <!-- content-main end// -->