<% const pricetoReadable=function(price){
  
  return price.toString()?.replace(/\B(?=(?:(\d\d)+(\d)(?!\d))+(?!\d))/g, ',');
} %>


<% let year= yearlyData[0]?.totalCount %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Dashboard </h2>
      <p>Whole data about your business here</p>
    </div>
    <div>
      <a href="" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Create report</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
          <div class="text">
            <h6 class="mb-1 card-title">Revenue</h6>
            <span>₹<%= priceData?pricetoReadable(year):0 %></span>
            <span class="text-sm">
              Shipping fees are not included
            </span>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
          <div class="text">
            <h6 class="mb-1 card-title">Orders</h6> <span><%= count[0]?.count %></span>
            <span class="text-sm">
              Excluding orders in transit
            </span>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
          <div class="text">
            <h6 class="mb-1 card-title">Products</h6> <span><%= products?.length %></span>
            <span class="text-sm">
              In <%= category.length %> Categories
            </span>
          </div>
        </article>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-body mb-4">
        <article class="icontext">
          <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
          <div class="text">
            <h6 class="mb-1 card-title">Monthly Earning</h6> <span>₹<%= priceData?pricetoReadable(priceData.total):0 %></span>
            <span class="text-sm">
              Based in your local time.
            </span>
          </div>
        </article>
      </div>
    </div>
  </div>
  
    
      
     
      <div class="card mb-4">
        <article class="card-body">
          <h5 class="card-title">Sale statistics day</h5>
          <canvas id="myChart4" height="120px"></canvas>
        </article>
      </div>
      <div class="card mb-4">
        <article class="card-body">
          <h5 class="card-title">Sale statistics year</h5>
          <canvas id="myChart3" height="120px"></canvas>
        </article>
      </div>
      <div class="card mb-4">
        
        <article class="card-body">
          <h5 class="card-title">Sale statistics month</h5>
          <canvas id="myChart" height="120px"></canvas>
        </article>
      </div>
      
      <div class="card mb-4">
    <header class="card-header">
      <h4 class="card-title">Sales by Yearly</h4>
      <div class="col-md-2 col-6">
      <a href=""  onclick="generatePdfYearly()" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Pdf report</a>
    </div>
    </header>
    <div class="card-body">
      <div class="table-responsive">
        <div class="table-responsive">
          <table class="table align-middle table-nowrap mb-0">
            <thead class="table-light">
              <tr>
                <th class="align-middle" scope="col">Sl.No:</th>
                <th class="align-middle" scope="col">Year:</th>
                <th class="align-middle" scope="col">Value:</th>
                <th class="align-middle" scope="col">Orders:</th>
              </tr>
            </thead>
            <tbody>
              <% yearlyData.forEach((element,index )=> { %>
              <tr  style="border-bottom: 1px rgba(222, 226, 230, 0.7) solid ;">
             
                <td><a  class="fw-bold"><%=index+1%></a> </td>
                <td><%=element.?_id%></td>
                <td>
                  Rs <%=element.?totalCount%>
                </td>
                <td>
                  <%=element.orders%>
                </td>
              </tr>
              <% });%>
            </tbody>
          </table>
        </div>
      </div> <!-- table-responsive end// -->
    </div>
  </div>

 
  <div class="card mb-4">
    <header class="card-header">
      <h4 class="card-title">Sales by Monthly</h4>
      <div class="col-md-2 col-6">
      <a href=""  onclick="generatePdfMonth()" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Pdf report</a>
    </div>
    </header>
    <div class="card-body">
      <div class="table-responsive">
        <div class="table-responsive">
          <table class="table align-center table-nowrap mb-0" id="my-table">
            <thead class="table-light">
              <tr>
                <th class="align-middle" scope="col">Month:</th>
                <th class="align-middle" scope="col">Orders:</th>
                <th class="align-middle" scope="col">Products(sold):</th>
                <th class="align-middle" scope="col">Value:</th>
              </tr>
            </thead>
            <tbody>
              <% price.arr.forEach((element,index )=> { %>
              <tr style="border-bottom: 1px rgba(222, 226, 230, 0.7) solid ;">
             
                <td><a  class="fw-bold" ><%=index%></a> </td>
                <td><%= element.totalOrder?element?.totalOrder:0%></td>
                <td>
                  <%= element?.orders%>
                </td>
                <td>
                  Rs <%= element?.total%>
                </td>
              </tr>
              <% });%>
            </tbody>
          </table>
        </div>
      </div> <!-- table-responsive end// -->
    </div>
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <h4 class="card-title">Sales by Day</h4>
      <div class="col-md-2 col-6">
      <a href=""  onclick="generatePdfDaily()" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Pdf report</a>
    </div>
    </header>
    <div class="card-body">
      <div class="table-responsive">
        <div class="table-responsive">
          <table class="table align-middle table-nowrap mb-0">
            <thead class="table-light">
              <tr>
                <th class="align-middle" scope="col">Sl.No:</th>
                <th class="align-middle" scope="col">Date:</th>
                <th class="align-middle" scope="col">Value:</th>
                <th class="align-middle" scope="col">Orders:</th>
              </tr>
            </thead>
            <tbody>
              <% daily.forEach((element,index )=> { %>
              <tr  style="border-bottom: 1px rgba(222, 226, 230, 0.7) solid ;">
             
                <td><a  class="fw-bold"><%=index+1%></a> </td>
                <td><%=element?._id%></td>
                <td>
                  Rs <%=element?.totalCount%>
                </td>
                <td>
                  <%=element?.orders%>
                </td>
              </tr>
              <% });%>
            </tbody>
          </table>
        </div>
      </div> <!-- table-responsive end// -->
    </div>
  </div>
</section> <!-- content-main end// -->
<footer class="main-footer font-xs">
  <div class="row pb-30 pt-15">
    <div class="col-sm-6">
      <script>
        document.write(new Date().getFullYear())
      </script> ©, Evara - HTML Ecommerce Template .
    </div>
    <div class="col-sm-6">
      <div class="text-sm-end">
        All rights reserved
      </div>
    </div>
  </div>
</footer>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<script>
  var doc = new jsPDF()
  function generatePdfMonth() {
    const dateToRead1 = (month) => {
      // let mm = parseInt(new Date().getMonth())+1
      let months = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec']
      let mm = months[parseInt(month) - 1]
      return `${mm}`
    }
    fetch(`/admin_panel/orderData?year=${new Date().getFullYear()}`, {
        method: 'get',
        headers: {
          'Content-Type': 'application/json',
        }
      }).then(res => res.json())
      .then((res) => {
        // monthlyReport(res.dataMonth)
        console.log("1", res[0]);
        var columns = [{
            title: "Sl.no",
            dataKey: "id"
          },
          {
            title: "Total",
            dataKey: "Total"
          },
          {
            title: "Orders",
            dataKey: "Orders"
          },
          {
            title: "Total Orders (paid)",
            dataKey: "Total Order"
          },
          {
            title: "Month",
            dataKey: "month"
          }
        ];
        var rows = []
        for (i = 0; i < res.length; i++) {
          rows[i] = [{
            "id": i + 1,
            "month": dateToRead1(res[i]._id),
            "Total": "Rs " + res[i].totalCount,
            "Total Order": res[i].orders,
            "Orders": res[i].totalQuantity
          }, ];
        }
        var doc = new jsPDF('p', 'pt');
        var header = function(data) {
          doc.setFontSize(18);
          doc.setTextColor(40);
          doc.setFontStyle('normal');
          doc.text("Monthly Report", data.settings.margin.left, 50);
        };
        for (i = 0; i < res.length; i++) {
          doc.autoTable(columns, rows[i], {
            margin: {
              top: 80
            },
            beforePageContent: header
          });
        }
        doc.save("Monthly-Sales.pdf");
      })
  }
  function generatePdfYearly() {

    fetch(`/admin_panel/orderDataAdminYearly?year=${new Date().getFullYear()}`, {
        method: 'get',
        headers: {
          'Content-Type': 'application/json',
        }
      }).then(res => res.json())
      .then((res) => {
        console.log("yathhiiii");
        // monthlyReport(res.dataYearly)
        console.log("2", res);
        var columns = [{
            title: "Sl.no",
            dataKey: "id"
          },
          {
            title: "Total",
            dataKey: "Total"
          },
          {
            title: "Orders",
            dataKey: "Orders"
          },
          {
            title: "Total Orders (quantity)",
            dataKey: "Total Order"
          }
        ];
        var rows = [{
          "id": 1,
          "Total": "Rs " + res.dataYearly.total,
          "Orders": res.dataYearly.orders,
          "Total Order": res.dataYearly.totalOrder
        }, ];
        var doc = new jsPDF('p', 'pt');
        var header = function(data) {
          doc.setFontSize(18);
          doc.setTextColor(40);
          doc.setFontStyle('normal');
          doc.text("Yearly Report", data.settings.margin.left, 50);
        };
        doc.autoTable(columns, rows, {
          margin: {
            top: 80
          },
          beforePageContent: header
        });
        console.log("setttttttttttttttttttt");
        doc.save("Yearly-Sales.pdf");
      })
  }
  function generatePdfDaily() {

    const dateToread = (date) => {
      let mm = parseInt(new Date().getMonth()) + 1
      return `${date}-${mm}-${new Date().getFullYear()}`
    }
    let month = parseInt(new Date().getMonth()) + 1
    fetch(`/admin_panel/orderDataAdminDaily?month=${month}&year=${new Date().getFullYear()}`, {
        method: 'get',
        headers: {
          'Content-Type': 'application/json',
        }
      }).then(res => res.json())
      .then((res) => {
        // monthlyReport(res.dataTodayRevenue)
        console.log("3", res);
        var columns = []
        columns[0] = [{
            title: "Sl.no",
            dataKey: "id"
          },
          {
            title: "Total",
            dataKey: "Total"
          },
          {
            title: "Orders",
            dataKey: "orders"
          },
          {
            title: "Total Quantity",
            dataKey: "totalQ"
          },
          // {
          //   title: "Category",
          //   dataKey: "Category"
          // },
          {
            title: "Date",
            dataKey: "Day"
          },
        ];
        var rows = []
        for (i = 0; i < res.length; i++) {
          rows[i] = [{
            "id": i + 1,
            "Total": "Rs " + res[i].totalCount,
            "orders": res[i].orders,
            "totalQ": res[i].totalQuantity,
            "Day": dateToread(res[i]._id),
          }, ];
        }
       
        var doc = new jsPDF('p','pt');
        var header = function(data) {
          doc.setFontSize(18);
          doc.setTextColor(40);
          doc.setFontStyle('normal');
          doc.text("Daily Report", data.settings.margin.left, 50);
        };
        rows.forEach((e, i) => {
          doc.autoTable(columns[0], e, {
            margin: {
              top: 80
            },
            beforePageContent: header
          });
        })
        doc.save("Daily-Sales.pdf");
      })
  }
  function generateExcel() {
    $.ajax({
      url: '/admin_panel/generateExcel',
      method: 'get',
      success: (res) => {
        location.reload()
      }
    })
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<script>
  function monthlyData() {
    var doc = new jsPDF()
    doc.autoTable({
      html: '#my-table'
    })
    doc.save('Monthly Report.pdf')
  }
</script>