<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
   
    
 
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <section class="content-main">
                        <div class="content-header">
                            <div>
                                <h2 class="content-title card-title">Orders</h2>
                                <p>Details for Order ID:<%user?._id  %>  </p>
                            </div>
                        </div>
                        <% orders.forEach(element => { %>
                        <div class="card " style="margin-bottom: 50px;" >
                            <header class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                        <span>
                                            <i class="material-icons md-calendar_today"></i> <b>Wed, Aug 13, 2020, 4:34PM</b>
                                        </span> <br>
                                        <small class="text-muted">Order ID:<%= element._id  %></small>
                                    </div>
                                </div>
                            </header> <!-- card-header end// -->
                            <div class="card-body">
                                <div class="row mb-50 mt-20 order-info-wrap">
                                    <div class="col-md-4">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-person"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Customer</h6>
                                                <p class="mb-1">
                                                    <%= element.orders.fName  %>  <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> <br> +91<%= element.orders.mobile%> 
                                                </p>
                                                <a href="#">View profile</a>
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                    <div class="col-md-4">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-local_shipping"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Order info</h6>
                                                <p class="mb-1">
                                                    Shipping: Fargo express <br> Pay method: <%= element.orders.paymentMethod  %>  <br> Status: new
                                                </p>
                                                <a href="#">Download info</a>
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                    <div class="col-md-4">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-place"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Deliver to</h6>
                                                <p class="mb-1">
                                                    City: <%= element?.orders?.shippingAddress?.address, %> <%= element?.orders?.shippingAddress?.town%>  <br><%= element?.orders?.shippingAddress?.landmark  %> <br> <%= element?.orders?.shippingAddress?.postcode  %>
                                                </p>
                                                <a href="#">View profile</a>
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                </div> <!-- row // -->
                                <div class="row">
                                    <div class="col-lg-7">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th width="40%">Product</th>
                                                        <th width="20%">Unit Price</th>
                                                        <th width="20%">Quantity</th>
                                                        <th width="20%" class="text-end">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a class="itemside" href="#">
                                                                <div class="left">
                                                                    <img src="/productImages/<%= element.orders.productDetails._id?._id %>0.jpg" width="40" height="40" class="img-xs" alt="Item">
                                                                </div>
                                                                <div class="info"> <%= element.orders.productDetails.productName  %>  </div>
                                                            </a>
                                                        </td>
                                                        <td> ₹ <%= element.orders.productDetails.productPrice  %></td>
                                                        <td><%= element.orders.productDetails.quantity  %> </td>
                                                        <td class="text-end">₹<%= element.orders.productDetails.productPrice  * element.orders.productDetails.quantity  %>  </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4">
                                                            <article class="float-end">
                                                                <dl class="dlist mx-2">
                                                                    <dt>Subtotal: ₹<%= element.orders.productDetails.productPrice  * element.orders.productDetails.quantity  %>  </dt>
                                                                    
                                                                </dl>
                                                                <dl class="dlist">
                                                                    <dt>Shipping cost: free</dt>
                                                                    
                                                                </dl>
                                                                <dl class="dlist">
                                                                    <dt>Grand total:  <b class="h5"> ₹<%= element.orders.productDetails.productPrice  * element.orders.productDetails.quantity  %> </b></dt>
                                                                   
                                                                </dl>
                                                                <dl class="dlist">
                                                                    <dt class="text-muted">Status:           <span class="badge rounded-pill alert-success text-success">Payment done</span></dt>
                                                                    
                                                                </dl>
                                                            </article>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> <!-- table-responsive// -->
                                    </div> <!-- col// -->
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-4">
                                        <div class="box shadow-sm bg-light">
                                            <h6 class="mb-15">Payment info</h6>
                                            <p>
                                                <img src="/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                                                Business name: Grand Market LLC <br>
                                                Phone: +1 (800) 555-154-52
                                            </p>
                                        </div>
                                        <div class="h-25 pt-4">
                                            <div class="mb-3">
                                                <label>Notes</label>
                                                <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                            </div>
                                            <button class="btn btn-primary">Save note</button>
                                        </div>
                                    </div> <!-- col// -->
                                </div>
                            </div> <!-- card-body end// -->
                        </div> <!-- card end// -->
                        <% }); %> 
                    </section> <!-- content-main end// -->
                            
                            
                        
                    
                </div>
            </div>
        </div>
    </section>
   
</main>